apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.metadata.name }}
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.global-static-ip-name: "ingress-static-ip"
    # networking.gke.io/v1beta1.FrontendConfig: ssl-redirect
spec:
  # tls:
  #   - hosts:
  #       - api.cloudservices.com
  #     secretName: secret-tls
  rules:
    # - host: "api.cloudservices.com" 
    - http:
      paths:
        - path: "/"
          pathType: ImplementationSpecific
          backend:
            service:
              name: {{ .Values.metadata.name }}
              port:
                number: {{ .Values.configurations.port }}
